.site-wrapper
	.site-wrapper-inner
		.cover-container
			.container
				%nav.navbar.navbar-default
					.container-fluid
						.navbar-header
							%a.navbar-brand{ href: '/'} Katana
							.menu.pull-right
								= link_to 'Login', new_accounts_user_session_path, class: 'btn btn-login btn-large'
				.inner.cover
					%row
						.col-md-12
							.cover-heading
								.line
									%h1
										At twenty years of age, the will reigns; at thirty, the wit; and at forty, the judgement.

									%h4
										benjamin franklin, american president
					/.cta-container
